In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("ds_salaries.csv")

In [7]:
data.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [8]:
data.shape

(607, 12)

In [9]:
data.columns

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

In [10]:

features = ["work_year", "experience_level", "job_title", "company_location"]

In [11]:
y = data[features]

In [12]:
x = data.salary

In [14]:
x.head()

0     70000
1    260000
2     85000
3     20000
4    150000
Name: salary, dtype: int64

In [15]:
y.head()

   work_year experience_level                   job_title company_location
0       2020               MI              Data Scientist               DE
1       2020               SE  Machine Learning Scientist               JP
2       2020               SE           Big Data Engineer               GB
3       2020               MI        Product Data Analyst               HN
4       2020               SE   Machine Learning Engineer               US

In [18]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor(random_state =1)
model.fit(y,x)

ValueError: could not convert string to float: 'MI'