In [18]:
import pandas as pd
import numpy as np

In [19]:
credits = pd.read_csv("tmdb_5000_credits.csv")
movies = pd.read_csv("tmdb_5000_movies.csv")

In [20]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [21]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [23]:
#We first merge the dataset and make it easier

movies = movies.merge(credits, on="title")

#Succesfully merged the Data and final One Dataset is Derived

In [ ]:
# movies.hea

In [24]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,tagline,title,vote_average,vote_count,movie_id_x,cast_x,crew_x,movie_id_y,cast_y,crew_y
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [29]:
#We will  now go through each column and check which ones are useful to us

#genres
#id
#keywords
#title
#overview
#cast
#crew

movies = movies[["id","title","overview","genres","keywords","cast_x","crew_y"]]

In [30]:
movies.head(1)

,id,title,overview,genres,keywords,cast_x,crew_y
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [31]:
#we will now make 3 columns Movie Id |  title | keywords
#Keywords will be made by merging overview, genres, keywords, cast(main 3 lead) and director's name from Crew
#We will now process data from each columns to merge them together

In [34]:
#Remove all the missing values
movies.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast_x      0
crew_y      0
dtype: int64

In [35]:
#Only 3 entries--> not a major number to remove
movies.dropna(inplace=True)

In [36]:
#Check if we have duplicate entries
movies.duplicated().sum()

0

In [39]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4818 entries, 0 to 4820
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4818 non-null   int64
 1   title     4818 non-null   object
 2   overview  4818 non-null   object
 3   genres    4818 non-null   object
 4   keywords  4818 non-null   object
 5   cast_x    4818 non-null   object
 6   crew_y    4818 non-null   object
dtypes: int64(1), object(6)
memory usage: 301.1+ KB

In [ ]:
def convert(obj):
    ls = []
    for  i i
    ls.append(movies.iloc[0].genres["name"])

In [40]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'